# Ignore Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ignore the SSH private key file
jenkins_deploy_key.pem

# Optional: Ignore backup and tfvars
terraform.tfstate.backup
terraform.tfvars

